---
title: Home
---

.orange
  %h1.center Push Space
  %p An abstract puzzle game by @blakewedwards and @arrogantgamer.

.blue
  %h1.center Push Space
  %p This is where some more different text would go!
