/* colors from the game

( Player A/Blue
#059CC0 wall
#025B70 player
#037590
#27A6C4
#4DB5CD floor

( Player B/Orange
#FF7F00 wall 
#B55A00 player
#E87300
#FF952C
#FFAC5B floor
)
)
*/

$blue_wall: #059CC0;
$blue_player: #025B70;
$blue_floor: #4DB5CD;

$orange_wall: #FF7F00;
$orange_player: #B55A00;
$orange_floor: #FFAC5B;

// that magical black
$black: #292929;

// spacing
$unit: 20px;

// typography
$alpha: 40px;
$bg_bottom: "bg-bottom.png";

* {
    margin: 0;
    padding: 0;

    font-family: Georgia, Palatino, serif;
}

body {
    background-color: $black;
    background-image: url($bg_bottom);
    background-position: left bottom;
    background-repeat: no-repeat;

    padding-bottom: 300px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f30;
}

a:hover {
    color: #f90;
}

.relative {
    position: relative;
}

.center {
    text-align: center;
}

.alpha {
    font-size: $alpha;
    font-height: $alpha;
    color: $orange_wall;
}

.soft {
    padding: $unit;
}

.soft-top {
    padding-top: $unit;
}

.push {
    margin: $unit;
}

.push-extrema {
    margin-top: $unit;
    margin-bottom: $unit;
}

#container > * {
    width: 1024px;
    margin: 0 auto;

    h1 {
        @extend .alpha;
    }
}

#puzzlescript {
    height: 640px;
    background-color: black;
}

#main {
    .content {
        min-height: 1000px;
        border-radius: 5px;
        background-color: $orange_floor;
        color: $orange_player;
        padding-right: 250px;

        &:before {
            background-color: $orange_wall;
            content: "";
            display: block;
            right: 0;
            top: 0;
            position: absolute;
            width: 200px;
            height: 100%;
        }

        &:after {
            background-color: $blue_player;
            content: "";
            display: block;
            top: 40px - $unit;
            right: 40px;
            position: absolute;
            width: 20px;
            height: 20px;
        }
    }

    p {
        margin: 20px 0;
        font-size: 15px;
        line-height: 20px;
    }
}

#main ul, #main ol {
    margin: 20px;
}

#main li {
    font-size: 15px;

    line-height: 20px;
}

#main ul li {
    list-style-type: square;
}
