---

---

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        A Brand New nanoc Site - #{@item[:title]}
      %link{:href => @items['/stylesheet/'].path, :rel => "stylesheet"}
      %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
        / you don't need to keep this, but it's cool for stats!
        %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}
  %body.orange{ :tabindex => 1 }
    #container.soft-top
      #puzzlescript{ :tabindex => 2 }
      #main
        .content.push.relative.soft
          = yield

    %script{:src => "js/puzzlescript-embed.js", :type => "text/javascript"}

:javascript

  (function () {
    var $puzzlescript = document.getElementById("puzzlescript")
    var script = PuzzleScript.embed($puzzlescript, "e55198d4f105a6e7b4e0");

    script.addEventListener('load', function () { 
      function swap (e) {
        var className = this.className;

        if (e.keyCode == 32) {
          e.preventDefault();
          this.className = (this.className == "orange")? "blue" : "orange";
        }
      }

      document.body.addEventListener('keydown', swap, false);

      $puzzlescript.onfocus = function () {
        document.body.removeEventListener('keydown', swap, false);

        document.addEventListener('keyup', onKeyUp, false);
        document.addEventListener('keydown', onKeyDown, false);
      };

      $puzzlescript.onblur = function () {
        document.body.addEventListener('keydown', swap, false);

        document.removeEventListener('keyup', onKeyUp, false);
        document.removeEventListener('keydown', onKeyDown, false);
      };

      $puzzlescript.focus();
    });
  }());


