---

---

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        A Brand New nanoc Site - #{@item[:title]}
      %link{:href => @items['/stylesheet/'].path, :rel => "stylesheet"}
        / you don't need to keep this, but it's cool for stats!
        %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}
  %body
    #container.soft-top
      #puzzlescript
      #main
        .content.push.relative.soft
          = yield

    %script{:src => "js/puzzlescript-embed.js", :type => "text/javascript"}

:javascript
  PuzzleScript.embed(document.getElementById("puzzlescript"), "e55198d4f105a6e7b4e0");
